# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
testdata/*.out
testdata/*.go
testdata/feappv-master/plot/*.go
*.o
testdata/other/*
testdata/lapack/BLAS/SRC/*.go
testdata/lapack/BLAS/TESTING/*.go
testdata/lapack/SRC/*.go
testdata/lapack/TESTING/*.go
testdata/result
*.txt

coverage.txt
*.coverprofile

# application
f4go
